@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://unpkg.com/basscss@8.0.2/css/basscss.min.css');

body {
  background-color: #f3f0e6;
  background: linear-gradient(to bottom, #9ee5e5 0%,#e5c7d5 35%,#948cdb 100%);
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
}

button {
  color: #fff7e0;
  background: none
}

.button {
  background-color: none;
}

input, textarea, keygen, select {
  background: rgba(255, 247, 224, 0.5);
  border: none;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 0.1rem;
  color: #5c5569;
}

.border {
  border-width: 0.3rem;
}

.border.light {
  border-color: #fff7e0;
}

.bg-black {
  background-color: black;
}

.light {
  color: #fff7e0;
}

.dark {
  color: #354574;
}

a {
  color: #fff7e0;
}

.pointer {
  cursor: pointer;
}

.vh100 {
  height: 100vh;
}

.vw100 {
  width: 100vw;
}

.ctrl-bar {
  height: 3rem;
  background-color: rgba(0,0,0,0.5);
  color: white;
}

.absolute.top {
  top: 0;
}

.absolute.bottom {
  bottom: 0;
}

.overlay {
  z-index: 1000;
}
